Project

1. new project, no rows yet
search -- import

2. added rows/ import rows (translation not done)
search -- filter-- import -- translate (pink)

3. when all rows translated (translation done)
search -- filter -- import -- send for review (pink)

4. select rows (translation not done)
search -- filter -- import -- translate (pink)

5. select rows (all translation done)
search -- filter -- import -- translate again -- send for review (pink)
- if select "send for review" button, row status change to in review

6.all rows are approved
search -- filter -- import -- export
- unless changes are made/edited, revert to (3)

